DB_USER={{ db_user }}
DB_PASS={{ pearlpbx2_db_pass }}
DB_NAME={{ db_name }}
DB_HOST=localhost
DB_PORT=5432
AMI_HOST=127.0.0.1
AMI_PORT=5038
AMI_USER=callback
AMI_PASS={{ pearlpbx2_ami_callback_pass }}
VA_PROCESS_COUNT=1
