DB_USER={{ db_user }}
DB_PASS={{ pearlpbx2_db_pass }}
DB_NAME={{ db_name }}
DB_HOST=127.0.0.1
DB_PORT=5432
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
AMI_HOST=127.0.0.1
AMI_PORT=5038
AMI_USER=fastagi
AMI_PASS={{ pearlpbx2_ami_fastagi_pass }}
