.git
.gitignore

.python-venv
**/.python-venv
**/venv
__pycache__
**/__pycache__
*.pyc

.env
env.sample

media/
staticfiles/
*.sqlite3

node_modules

.idea
.vscode
*.swp

.pytest_cache
.mypy_cache
htmlcov
.coverage

docs/
ansible/
*.md
