ALLOWED_HOSTS=""
ASTERISK_ROOT_DIR="/tmp"
ASTERISK_CONFIG_DIR="/etc/asterisk"
ASTERISK_BACKUP_DIR="/tmp/backup/asterisk"

ASTERISK_MANAGER_PORT=5038
ASTERISK_MANAGER_HOST=127.0.0.1
ASTERISK_MANAGER_USERNAME=PearlPBX2
ASTERISK_MANAGER_SECRET="lFDccdsjqPWPe7ah7OJqLDxdtY6KM1VeTsS8V027msBpulwZHLmeaWnA-hWbpgkz3PZfdQ5GeCE63-lWTgqx3Q"

DEVMODE="without_asterisk_on_localhost"

