export ALLOWED_HOSTS=10.35.35.1
export ASTERISK_ROOT_DIR="/tmp"
export ASTERISK_CONFIG_DIR="/etc/asterisk"
export ASTERISK_BACKUP_DIR="/tmp/backup/asterisk"

export ASTERISK_MANAGER_PORT=5038
export ASTERISK_MANAGER_HOST=127.0.0.1
export ASTERISK_MANAGER_USERNAME=PearlPBX2
export ASTERISK_MANAGER_SECRET="lFDccdsjqPWPe7ah7OJqLDxdtY6KM1VeTsS8V027msBpulwZHLmeaWnA-hWbpgkz3PZfdQ5GeCE63-lWTgqx3Q"

export DEVMODE="without_asterisk_on_localhost"
