{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="javascript:void(0)" onclick="applyToAllPhones()" class="default">
            Apply configurations to all phones
        </a>
    </li>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script>
        function applyToAllPhones() {
            if (confirm('Are you sure you want to apply configurations to ALL phone devices?')) {
                // Select all checkboxes
                var checkboxes = document.querySelectorAll('input[name="_selected_action"]');
                checkboxes.forEach(function(checkbox) {
                    checkbox.checked = true;
                });

                // Set the action dropdown
                var actionSelect = document.querySelector('select[name="action"]');
                if (actionSelect) {
                    actionSelect.value = 'apply_configurations_to_phones';
                }

                // Submit the form
                var form = document.querySelector('#changelist-form');
                if (form) {
                    form.submit();
                }
            }
        }
    </script>
{% endblock %}