#top-header {
    z-index: 1001;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(46, 62, 73, 1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#content {
    margin-top: 52px;
    margin-left: 0;
    transition: margin 0.2s cubic-bezier(.4, 0, .2, 1);
}

.uk-navbar-nav>li>a,
.uk-navbar-item,
.uk-navbar-toggle {
    min-height: 52px;
}

.uk-card-default.uk-card-hover:hover,
.uk-card-primary.uk-card-hover:hover,
.uk-card-secondary.uk-card-hover:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, .16)
}

.uk-input,
.uk-select,
.uk-textarea {
    background-color: #f7f7ff;
}

.uk-tab>*>a {
    border-bottom: 2px solid transparent;
}