DJANGO_SECRET_KEY={{ pearlpbx2_django_secret_key }}
DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASS={{ pearlpbx2_db_pass }}
DB_HOST=localhost
DB_PORT=5432
REDIS_URL=redis://localhost:6379
ASTERISK_CONFIG_DIR=/etc/asterisk
ASTERISK_BACKUP_DIR=/var/backups/asterisk
ASTERISK_MANAGER_HOST=127.0.0.1
ASTERISK_MANAGER_PORT=5038
ASTERISK_MANAGER_USERNAME=PearlPBX2
ASTERISK_MANAGER_SECRET={{ pearlpbx2_ami_secret }}
DEVMODE=Production
DEBUG=False
ALLOWED_HOSTS={{ ansible_hostname }},127.0.0.1
CSRF_TRUSTED_ORIGINS=https://{{ ansible_hostname }}
TFTP_DIR={{ tftp_dir }}
