{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<div class="uk-container uk-container-expand uk-margin-top">
    <h1 class="uk-heading-line uk-text-center"><span>{% trans "Reports" %}</span></h1>

    <div class="uk-grid-match uk-child-width-1-2@m uk-margin-top" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                <h3 class="uk-card-title">{% trans "General" %}</h3>
                <ul class="uk-list uk-list-striped">
                    <li><a href="{% url 'cdr_report' %}">{% trans "CDR Filter" %}</a></li>
                    <li><a href="{% url 'monitor_report' %}">{% trans "Call Recordings" %}</a></li>
                    <li><a href="{% url 'queuelog_report' %}">{% trans "Queues Activity" %}</a></li>
                    <li><a href="{% url 'callback_report' %}">{% trans "Callback" %}</a></li>
                    <li><a href="{% url 'routing_report' %}">{% trans "Routing Tables" %}</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                <h3 class="uk-card-title">{% trans "Analytics" %}</h3>
                <ul class="uk-list uk-list-striped">
                    <li><a href="{% url 'analytics_queue_calls' %}">{% trans "Calls by Queue" %}</a></li>
                    <li><a href="{% url 'analytics_agent_calls' %}">{% trans "Calls by Agent in Queue" %}</a></li>
                    <li><a href="{% url 'analytics_outbound_calls' %}">{% trans "Outbound Calls by Agent" %}</a></li>
                    <li><a href="{% url 'analytics_missed_calls' %}">{% trans "Missed Calls by Queue" %}</a></li>
                    <li><a href="{% url 'analytics_missed_by_hour' %}">{% trans "Missed Calls by Hour" %}</a></li>
                    <li><a href="{% url 'analytics_call_duration' %}">{% trans "Call Duration by Operator" %}</a></li>
                    <li><a href="{% url 'analytics_queue_activity' %}">{% trans "Queue Activity (Hourly/Daily)" %}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="uk-position-bottom-center uk-position-small">
        <span class="uk-text-small uk-text-muted">© {% now "Y" %} PearlPBX2</span>
    </div>
</div>
{% endblock content %}